@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(./color.css);
* {
    font-family: 'Roboto', sans-serif !important;
}

.navbar li a {
    color: #313131;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.dropdown-menu {
    border: none;
    border-radius: 0;
}



.carrossel {
    height: 100vh;
    margin-top: 50px;
}

.carrossel .carousel-caption .btn {
    background-color: var(--primary);
    color: #313131;
    border: none;
    font-weight: bold;
}
.home {
    height: 100vh;
}


